.header {
    /* background-color: #4e3bf7; */
    background: linear-gradient(to right, #3a75c7, #3c4dff);
    color: #fff;
    padding: 0px 0;
  }
  
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 40px;
  }
  
  .nav button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
  }
  
  .search-input {
    padding: 12px;
    border-radius: 5px;
    width: 800px;
    border: 1px solid #fff;
    vertical-align: middle;
  }

.profile-icon,
.category-icon,
.close-icon,
.cart-icon {
  width: 40px;
  padding: 10px;
  padding-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  background: inherit;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.profile-icon:hover,
.category-icon:hover,
.close-icon:hover,
.cart-icon:hover {
  background-color: #9b91fc;
}


  .category-list {
    position: absolute;
    top: 90px;
    left: -300px;
    right: auto;
    bottom: auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    font-size: 18px;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    transition: left 0.3s ease;
}

.category-list.show {
    left: 0;
}

.category-toggle {
    background-color: #4e3bf7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    
  }
  
  .category-toggle:hover {
    background-color: #9b91fc;
  }

  .category-toggle.close {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
  }
  
  .category-list ul {
    list-style-type: none;
    padding: 0;
  }

  .category-list li {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
}

.category-list li:hover {
    background-color: #9b91fc;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

.selected-category-message {
    padding: 10px;
    background-color: #0d00ff;
    text-align: left;
    margin-top: 10px;
    font-size: 1.2em;
}
  