/* App.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.home-page {
  text-align: center;
  padding: 0px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-image img {
  width: 100%; 
  height: auto;
  border-radius: 5px;
}

.product-item {
  width: 25%;
  padding: 10px;
  transition: all 0.3s ease;
  box-sizing: border-box; 
  position: relative; 
}

.product-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.product-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px; /* Добавляем скругление углов */
}

.product-item:hover .product-info {
  display: block;
}

.product-info img {
  width: 100%;
  border-radius: 5px;
}

.product-info p {
  font-weight: bold;
  margin-top: 5px;
}

.price-container {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  margin-right: 5px;
}

.currency {
  font-size: 14px;
  color: #666;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.add-to-cart-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 350px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: url('./icons/cartIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}


